<header>
  <div class="main">
    <nav class="nav-central glass-panel" #navContainer>
      <div
        class="active-glass"
        [class.transition]="glassTransition"
        [style.transform]="'translateX(' + glassLeft() + 'px)'"
        [style.width.px]="glassWidth()"
      ></div>
      <a routerLink="/home" class="item">{{ 'header.home' | translate }}</a>
      <a routerLink="/experience" class="item">{{ 'header.experience' | translate }}</a>
      <a routerLink="/skills" class="item">{{ 'header.skills' | translate }}</a>
      <a routerLink="/setup" class="item">{{ 'header.setup' | translate }}</a>
      <a routerLink="/contact" class="item">{{ 'header.contact' | translate }}</a>
    </nav>
    <div class="nav-buttons">
      <button class="theme-toggle glass-panel" (click)="toggleTheme()">
        <span [class.right]="currentTheme === 'light'" class="icon">
          @if (currentTheme === 'dark') {
            <svg
              class="moon-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9z" />
            </svg>
          } @else {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="12" r="4" />
              <path
                d="M12 2v2M12 20v2M4.93 4.93l1.41 1.41M17.66 17.66l1.41 1.41M2 12h2M20 12h2M6.34 17.66l-1.41 1.41M19.07 4.93l-1.41 1.41"
              />
            </svg>
          }
        </span>
      </button>

      <button
        class="lang-btn glass-panel"
        [style.--language-position]="currentLangPosition"
        (click)="toggleLang()"
      >
        <div class="languages" [class.transition]="langTransition">
          @for (lang of languages; track lang) {
            <span class="lang">{{ lang.split('-')[0] }}</span>
          }
        </div>
      </button>
    </div>
  </div>
</header>
